<div class="navbar-container">
  <h1 class="courtify-logo">Courtify</h1>

  <div class="navigation-container">
    <a
      [routerLink]="['/' + ROUTES.VENUES]"
      routerLinkActive="active"
      class="navigation"
      >Venues</a
    >
    <a
      [routerLink]="['/' + ROUTES.BOOK]"
      routerLinkActive="active"
      class="navigation"
      >Book</a
    >
    <a
      [routerLink]="['/' + ROUTES.HISTORY]"
      routerLinkActive="active"
      class="navigation"
      >History</a
    >
  </div>
</div>
