<div class="venues-container">
  <!-- BANNER HERO -->
  <app-banner
    title="Elevate Your Game"
    subtitle="Experience premium court facilities, expert coaching, and a vibrant
        community. Whether you're a beginner or pro, we have everything you
        need to healthy."
    actionButtonLabel="Book Now"
  ></app-banner>

  <!-- HERO IMAGE -->
  <div class="hero-image-wrapper">
    <img
      src="https://images.unsplash.com/photo-1545151414-8a948e1ea54f?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Tennis player celebration"
      class="hero-image"
    />
  </div>

  <!-- VENUES SECTION -->
  <section class="venues-section">
    <!-- Nanti komponen Card Venues ditaruh di sini -->
  </section>
</div>
